<!-- Jobs Section -->
<section id="download" class="content-section text-center">
<div class="download-section">
<div class="container">
<div class="col-lg-8 col-lg-offset-2">
  <h2>Help us bring data science to plant breeding.</h2>
  <p>Download a solicitation below.</p>

  <ul class="list-inline banner-social-buttons">

  <li><a href="pdf/Job-16-03-Data-Scientist-RootTracker-v2.pdf" class="btn btn-default
  btn-lg"> Statistician/Data Scientist</a></li>
    
  <li><a href="pdf/Job-16-03-Programmer-RootTracker-v2.pdf" class="btn btn-default
  btn-lg"> Software Developer</a></li>

  <li><a href="pdf/Internship-16-03-Data-Scientist-v2.pdf" class="btn btn-default
  btn-lg"> Internship: Statistician/Data Scientist</a></li>

  <li><a href="pdf/Internship-16-03-Programmer-Web-v2.pdf" class="btn btn-default
  btn-lg"> Internship: Software Developer</a></li>
  </ul>
  
  
</div>
</div>
</div>
</section>