<!-- Jobs Section -->
<section id="download" class="content-section text-center">
<div class="download-section">
<div class="container">
<div class="col-lg-8 col-lg-offset-2">
  <!--<h2>Help us bring data science to plant breeding.</h2>-->
  <!--<p>Download a solicitation below.</p>-->

  <h2>Help us make hardware and software innovations in plant breeding.</h2>

  <p>
  We are looking for an <a href="https://www.indeed.com/cmp/Hi-Fidelity-Genetics/jobs/Engineer-be1199bfc8d8fbe6?q=Engineer+hi+fidelity+genetics">engineer</a>.
  </p>

  <!-- <h3>Internships</h3> -->
  <!-- <p> -->
  <!-- <ul class="list-inline banner-social-buttons"> -->

  <!--   <li><a href="pdf/Internship-16-03-Data-Scientist-v2.pdf" class="btn btn-default -->
  <!--   btn-lg">Statistician/Data Scientist</a></li> -->
    
  <!--   <li><a href="pdf/Internship-16-03-Programmer-Web-v2.pdf" class="btn btn-default -->
  <!--   btn-lg">Software Developer</a></li> -->

  <!-- </ul> -->
  <!-- </p> -->
    
</div>
</div>
</div>
</section>